{% extends "layout.html" %}

{% block content %}

{% for article in articles %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ article.published }}</small>
        </div>
        <h3 class="article-title">{{ article.title }}</h3>
        <p class="article-content">{{ article.summary }}</p>
        <a class="mr-2" href="{{ article.link }}">{{ article.link }}</a>
    </div>
</article>

{% endfor  %}

{% endblock content %}